
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


:root {

}


html {
    font-size: 62.5%;
    font-family: Josefin Sans;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
}

*, *:focus {
    border: none;
    outline: none;
}

.page-container {
    width: 100vw;
    height: 100vh;
}

.main-container {
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.30;
    width: 375px;
    height: 800px;
    background-image: url('images/mobile-overlay.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.hero-content > h1 {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.2rem;
    text-align: center;
    letter-spacing: 1.0825rem;
    color: #423A3A;
}

.hero-content > h1 > span {
    font-style: normal;
    font-weight: 300;
    color: #CE9898;
}

.hero-content > p {
    margin: 0 auto;
    margin-bottom: 2.9rem;
    max-width: 33ch;
    font-style: normal;
    font-weight: 1000;
    padding: 0 3.2rem 0 3.2rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
    color: #CE9898;
}

.email-registration {
    width: 30rem;
    height: 4.8rem;
    margin: 0 auto;
    position: relative;
    opacity: 0.5;
    border: 1px solid #CE9898;
    border-radius: 25px;
}

.email-registration > input[type="submit"] {
    position: absolute;
    content: "";
    width: 6.4rem;
    height: 4.8rem;
    top: 0;
    right: 0;
    background: red;
}

/* .email-registration::after {
    content: '';
    position: absolute;
    top: -0.1rem;
    left: -2rem;
    border-radius: 50%;
    width: 4.8rem;
    height:4.8rem;
    background: white;
    z-index: 1;
    border: 1px solid #CE9898;
}

.email-registration::before {
    content: '';
    position: absolute;
    top: -0.1rem;
    right: -2rem;
    border-radius: 50%;
    width: 4.8rem;
    height:4.8rem;
    background: white;
    z-index: 1;
    border: 1px solid #CE9898;
} */

.email-registration > input {
    box-sizing: border-box;
    padding: 1.5rem;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    border-radius: 25px;
}



.logo {
    margin: 3.2rem 0rem 3.2rem 3.2rem;
    width: 10rem;
    height: 2.1rem;
    background-image: url('images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-mobile-img {
    margin-bottom: 6.4rem;
}